.logo{
    height: 100px;
}

/* Робимо фон */
body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.postimg.cc/y8vLTsJM/background-image-for.png');

}

.products-list{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;

}